*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3::first-letter{
    color: #00796B;
    font-size: 2em;
}


h3:hover::first-letter{
    color: #4fc3f7;
}


ul li span::first-letter{
    color: #4fc3f7;
    font-size: 2em;
}

ul {
    margin: 50px;
}

ul li:first-of-type::first-letter{
    color: #4fc3f7 ;
    font-size: 2em;
    text-decoration: overline;
}

ul li:nth-of-type(2)::first-letter{
    columns: #C51162;
    font-size: 2em;
    text-decoration:underline ;
}

ul li:last-of-type::first-letter{
    color: #64dd17;
    font-size: 2em;
    text-decoration: line-through;

}
ul li:last-of-type{
    text-decoration: line-through;
}

p:first-of-type {
    color: #37474f;
    text-indent: 50px;
}

p::first-line{
    font-size: 1.3em;
}

section p:not(:first-of-type)::first-letter{
    color: #d50000;
    font-size: 1.3em;
}

section p:hover:not(:first-of-type)::first-line{
    color: green;
}

section p:nth-child(even){
    font-weight: 600px;
}

